#analytics-body {
    margin-top: 10%;
}

#data-analytics-banner {
    width: 100%;
}

#data-analytics-banner .container {
    width: 200px;
    height: 200px;

    display: inline-block;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;

    border-radius: 10px;

    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 1px 1px 1px;
}

#data-analytics-banner .container h2 {
    margin-top: 20px;
    font-size: 12px;
}

#graphs {
    vertical-align: center;
}

#polarChart {
    float: left;
    width: 40%;
    margin-left: 5%;
    height: auto;
}

@media (max-width: 768px) {
    #data-analytics-banner .container {
    width: 100%;
    margin-right: 0;
    }
}