h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: maroon;
}

body#signup {
  padding: 0;
  padding-top: 2%;
}

.signup-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;

  border: 1.5px solid rgb(121, 93, 94);
  padding: 5px;
  border-radius: 50px;
  width: 50%;

  margin: auto;
  margin-top: 0%;
  margin-bottom: 5%;
} 

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink-red {
  animation: blink 2s infinite;
  color: red;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  height: auto;
}

.signup-form #acc-type, .signup-form #sex {
  display: flex;
  flex-direction: row;
  margin: 3% 0%;
  width: 100%;
}

.signup-form #sex {
  margin: 1.5% 0%;
}

label {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

#acc-type label, #sex label {
  margin-right: 5%;
}

.signup-form input {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 13px;
  
  background-color: #f7f7f7;
  border: .5px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
  width: 95%;
}


.signup-form button {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;

  margin: auto;
  margin-top: 10px;
  background-color: rgb(153, 2, 2);
  color: white;
  padding: 10px 20px;

  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 20%;
  height: auto;

  transition: 300ms;
  margin-bottom: 5%;
}

.signup-form button:hover {
  background-color: rgb(34, 98, 34);
  transition: 300ms;
}