.archive-btn, .delete-btn, .unarchive-btn {
    background-color: rgb(150,0,0);
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    border: 1px solid rgb(150,0,0);
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    transition: background-color 0.5s, color 0.5s;
}

.archive-btn:hover, .delete-btn:hover, .unarchive-btn:hover{
    cursor: pointer;
    background-color: white;
    color: rgb(150,0,0);
    transition: background-color 0.5s, color 0.5s;
}

.btn-icon{
    margin-left: 10px;
}