#accomm-list body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

#lists ul{
    list-style-type: none;
}

#lists li {
    list-style-type: none;
    text-align: center;
    width: 90%;
}

#accomm-name {
    color: rgb(150,0,0);
}

#li-container{
    background-color: rgb(240,240,240);
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    box-shadow: 3px 3px rgb(200,200,200);
}