* { border: 1px solid red; }

#accomm-list body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
    padding-inline-end: 0;
    text-align: center;
}

#lists {
    list-style-type: none;
    text-align: center;
}

#accomm-name {
    color: rgb(150,0,0);
}

#li-container{
    background-color: rgb(240,240,240);
    border-radius: 10px;
    box-shadow: 3px 3px rgb(200,200,200);
    margin: 0 auto;
    margin-bottom: 10px;
}