.img-container .images::-webkit-scrollbar {
    display: none;
}

.body-element {
    margin: 2%;
    /* background-color: brown; */
    border-radius: 10%;
    position: relative;
    padding: 2% 1%;
    padding-top: 3%;

    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

    /* after hover */
    transition: 300ms;
}

.body-element:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 300ms;
    /* padding: 2% 1%;
    padding-top: 1%; */
}

.body-element img {
    height: 18rem;
    border-radius: 10%;
    object-fit: cover;
}

/* image slider */
.body-element .slider-wrapper {
    position: relative;
    width: 20rem;
    /* height: 300px; */
    margin: 0 auto;
}
.slider-wrapper .images {
    display: flex;
    border-radius: 10%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.slider-wrapper .images img {
    border-radius: 0;
    flex: 1 0 100%;
    scroll-snap-align: start;
}

.body-element .favorite {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 13%;
    color: #ffffff;
    z-index: 10;
}

.body-element .details {
    font-size: small;
    line-height: 0;

    /* text position */
    text-align: left;
    margin: 0%;
    margin-left: 10%;

    display: flex;
    flex-direction: column;
}
