.body-group {
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    overflow-x: scroll;
    margin-left: 5%;
    margin-right: 5%;
}

/* hide scrollbar */
.body-group::-webkit-scrollbar {
    display: none;
}
.img-container .images::-webkit-scrollbar {
    display: none;
}

.body-element {
    margin: 2%;
    border-radius: 10%;
    position: relative;
    padding: 2% 1%;
    padding-top: 1%;
    background-color: rgba(0,0,0,0.02);
    /* after hover */
    transition: 300ms;
}

.body-element:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 300ms;
    /* padding: 2% 1%;
    padding-top: 1%; */
}

.body-element img {
    width: 300px;
    height: 300px;
    border-radius: 10%;
    object-fit: cover;
}

/* image slider */
.body-element .slider-wrapper {
    background-color: rgba(0,0,0,0.075);
    border-radius: 10%;
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
.slider-wrapper .images {
    display: flex;
    border-radius: 10%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.slider-wrapper .images img {
    border-radius: 0;
    flex: 1 0 100%;
    scroll-snap-align: start;
}
.img-container .slider-btns {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.img-container .slider-btns a {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.body-element .favorite {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 13%;
    color: #ffffff;
    z-index: 10;
}

.body-element .details {
    font-size: small;
    line-height: 0.3;

    /* text position */
    text-align: left;
    margin: 0%;
    margin-left: 10%;
}