.filter-outer {
    position: fixed;
    z-index: 500;
    right: 4%;
    left: 4%;
    top: 8%;

    background-color: rgb(255, 255, 255);
}

.filter-div {
    display: flex;
    flex-direction: row;
    /* 
    width: calc(90% - 60px);
    height: auto; */
    overflow-x: scroll;
    padding: 1%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.filter-div::-webkit-scrollbar {
    display: none;
}

.filter-btn {
    margin-left: 2%;
}

/* adjusting margins and fonts relative to the screen size */
@media only screen and (max-width: 1200px) {
    #filter-div {
        width: calc(80% - 60px);
        
    }
}

@media only screen and (max-width: 640px) {
    #filter-div {
        width: calc(100% - 60px);
        
    }
}