

#header{
    background-color: rgb(18, 18, 18);
    height: 70px;
    width: 100%;
    /* sticky header */
    position: fixed;
    top: 0%;
    z-index: 1000; /* on top of all elements */
}

#logo{
    width: 25%;
    float: left;
    height: 100%;
}

#logo h1{
    cursor: pointer;
    color: white;
    font-size: 3em;
    line-height: 7px;
    font-weight: 600;
    user-select: none;
}

#search-section{
    width: calc(25% + 60px);
    height: 100%;
    float: left;
    margin-left: calc((100% - 50% - 25% - 60px)/2);
    margin-right: calc((100% - 50% - 25% - 60px)/2);
}

#search-text{
    border-radius: 20em 0 0 20em;
    height: 20px;
    width: calc(100% - 70px);
    padding: 10px;
    border:none;
    font-size: 15px;
}

#search-bar{
    margin-top: 1em;
}

#search-text:focus{
    outline: none;
}

#search-submit{
    border-radius: 0em 20em 20em 0em;
    height: 40px;
    width: 50px;
    border: none;
    position: relative;
    top: -2px;
}

#right-side-btns{
    float: right;
    width: 25%;
    height: 100%;
}


#btn-container{
    
    float: right;
    margin-top: 1em;
    margin-right: 1em;
}

#add-accom{
    border-radius: 100px;
    border: none;
    height: 40px;
    padding: 1px;
    float: left;
    padding-left: 1.5em;
    padding-right: 1.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 40%;
}

.auth-sect{
    float: right;
    margin-top: 1em;
}

.auth-sect button{
    background-color: rgb(153, 2, 2);
    color: white;
    height: 40px;
    width: 95px;
    margin-left: 10px;
    border-radius: 100px;
    border: none;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.auth-sect button:hover{
    cursor: pointer;
}

#auth-confirmed:hover ul{
    margin-top: 10px;
    display: block;
    list-style-type: none;
    background-color: rgb(18, 18, 18);;
    text-align: center;
    padding: 0px 10px 10px 10px;
    border-radius: 0 0px 10px 10px;
    width: 100%;
}

#auth-confirmed:hover li{
    text-align: center;
    margin-left: 0;
    margin-top: 2px;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
}

#auth-confirmed:hover li:hover{
    background-color: rgb(101, 101, 101);
}

#auth-confirmed ul{
    display: none;
}

#auth-confirmed{
    margin-top: 1em;
    color: white;
    line-height: 40px;
    user-select: none;

}

#more-options{
    background-color: rgb(153, 2, 2);
    color: white;
}

#more-options:hover{
    cursor: pointer;
}

#options-menu{
    background-color: rgb(18, 18, 18);;
    position: absolute;
    right: 1%;
    margin-top: 55px;
    border-radius: 0 0px 10px 10px;
}

#options-menu ul{
    resize: none;
    list-style-type: none;
    padding: 0 10px 0px 10px;
}

#options-menu li{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    user-select: none;
}

#options-menu li:hover{
    background-color: rgb(101, 101, 101);
    cursor: pointer;

}

@media only screen and (max-width: 1550px) {
    #add-accom, #auth-confirmed:hover ul{
        display: none;
    }
    #more-options{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        float: right;
        height: 40px;
        width: 40px;
        border-radius: 100%;
        border: none;
    }
}

@media only screen and (max-width: 1200px) {
    #auth-confirmed, #btn-signup{
        display: none;
    }

}

@media only screen and (max-width: 725px) {
    #btn-login{
        display: none;
    }
}